<<<<<<< HEAD
<<<<<<< HEAD



<p>
    <%= @restaurant["name"] %>
=======
<p id="name">
    <%= @restaurant_hash["name"] %>
>>>>>>> 889c9267b1b94681ccd9850835dee7377f613ec2
=======

<p id="name">
    <%= @restaurant_hash["name"] %>

>>>>>>> 2010338b2b92c11191c7e915aa694a2abb2195d5
</p>
<p><%= @restaurant_hash["address"] %>
</p>
<img src="<%= @restaurant_hash["img_url"] %>" alt="img">
</p>
<<<<<<< HEAD
<<<<<<< HEAD
<p> Cost for two: <%= @restaurant["cost"] %>*

Add to favorites:  <button> Save </button>
=======
=======

>>>>>>> 2010338b2b92c11191c7e915aa694a2abb2195d5
<p> Cost for two: <%= @restaurant_hash["cost"] %>*
</p>
<p class="user_id"><%= current_user.id%></p>
<p class="rest_id"><%= @hi %></p>
<<<<<<< HEAD
>>>>>>> 889c9267b1b94681ccd9850835dee7377f613ec2
=======


>>>>>>> 2010338b2b92c11191c7e915aa694a2abb2195d5
<div id="this">

</div>
<%= button_tag "Favorite" , :type=> 'button' ,:class=> 'favorite'%>

<h4>Comment list:</h4>


<% @comments.each do |comment| %>
<tb>
<p>
  <%= comment.content %>
  <%= form_for(comment, method: :delete, data: { confirm: "delete?" }) do |f| %>
    <%= f.submit "Delete"%>
  <% end %>
</p>
<% end %>

</tb>

<h3>Leave a comment:</h3>

<%= render "comments/comments_form", comment: @comment %>

<br>


<%= link_to "Back to Search", restaurants_path %>

<p id="lat"><%= @restaurant_hash["lat"] %>
</p>
<p id="lon"><%= @restaurant_hash["lon"] %>
</p>
<<<<<<< HEAD
<<<<<<< HEAD
=======

<p><%= @restaurant_hash["restaurant_id"] %></p>

>>>>>>> 2010338b2b92c11191c7e915aa694a2abb2195d5







<body>

  <div id="container">
    <nav role="navigation">
      <img id="imglogo" src="http://i.imgur.com/oxokbLO.png">
      <ul>
          <li><%= link_to "Home", restaurants_path %></li>
        <li><a href="#">Favorites</a>
<!--
          <ul>
            <li><a href="">Latest Restaurant</a></li>
          </ul>
-->
        </li>

        <li><a href="#">Sign-In</a></li>
        <li><a href="#">Sign-Up</a></li>
      </ul>
    </nav>

    <div id="restaurantName">
      <h1>  <%= @restaurant["name"] %></h1>
    </div>


    <div id="slideshowContainer">

      <div id="slideshow"> <img id="pic" src="<%= @restaurant["img_url"] %>">
        <div id="this">

        </div>
        <div id="maplocation">

          <div id="this">

          </div>

      </div>
      </div>
       </div>




      <div id="restaurantResults">
        <h1><%= @restaurant["address"] %> </h1>
        <h4>Cost for two: <%= @restaurant["cost"] %>* </h4>
      </div>



    <div id="commentsSection">


      <div id="comments">
        <h1> Comments</h1>
        <h4>Comment on the service of this restaurant</h4>
        <h1> Comments</h1>
        <h4>Comment on the service of this restaurant</h4>
        <h1> Comments</h1>
        <h4>Comment on the service of this restaurant</h4>
        <textarea> </textarea>

      </div>

      <div id="replies">
        <h1> Replies </h1>
        <h4>Reply to the user</h4>
         <h1> Replies </h1>
        <h4>Reply to the user</h4>
         <h1> Replies </h1>
        <h4>Reply to the user</h4>
         <h1> Replies </h1>
        <h4>Reply to the user</h4>
      </div>




    </div>



    <div id="footer">

      <h1>this is the footer </h1>

    </div>


	</div>


</body>
<<<<<<< HEAD
=======
<p><%= @restaurant_hash["restaurant_id"] %></p>
>>>>>>> 889c9267b1b94681ccd9850835dee7377f613ec2
=======

>>>>>>> 2010338b2b92c11191c7e915aa694a2abb2195d5
