


<h1 class="resName">
    <%= @restaurant["name"] %>
</h1>

<h2 class="resAddr">
  <%= @restaurant["address"] %>
</h2>

<img src="<%= @restaurant["img_url"] %>" alt="img">
</p>
<p> Cost for two: <%= @restaurant["cost"] %>*

Add to favorites:  <button> Save </button>
<div id="this">

</div>

<h4>Comment list:</h4>


<% @comments.each do |comment| %>
<tb>
<p>
  <%= comment.content %>
  <%= form_for(comment, method: :delete, data: { confirm: "delete?" }) do |f| %>
    <%= f.submit "Delete"%>
  <% end %>
</p>
<% end %>

</tb>

<h3>Leave a comment:</h3>

<%= render "comments/comments_form", comment: @comment %>

<br>

<p id="lat"><%= @restaurant["lat"] %>
</p>
<p id="lon"><%= @restaurant["lon"] %>
</p>
<p><% @restaurant["restaurant_id"] %>


