<h1 class="resName">
    <%= @restaurant_hash["name"] %>
</h1>
<h2 class="resAddr">
  <%= @restaurant_hash["address"] %>
</h2>
<div class="lineMeUp">
  <img class="resImg" src="<%= @restaurant_hash["img_url"] %>" alt="img">
  <div id="this">
  </div>
</div>
<div class="commentSection">
  <br>
  <h4>Comment list: </h4><br>
  <br>
  <% @comments.each do |comment| %>
  <tb>
  <p>
     <%= current_user.email%> : <%= comment.content %>
    <% if current_user.id == comment.user_id%>
      <%= form_for(comment, method: :delete, data: { confirm: "delete?" }) do |f| %>
        <%= f.submit "Delete"%>
         <% end %>
        <% else %>
      <% end %>
  </p>
  <% end %>
  </tb>
</div>
<div class="costAndFavorite">
  <p> Cost for two: <%= @restaurant_hash["cost"] %>* <br>
    <% if current_user.present? %>

  Add to favorites: <a href="/users/profile"> <%= button_tag "Favorite" , :type=> 'button' ,:class=> 'favorite'%> </a> <br>
</div>
<div class="leaveAComment">
  <h3>Leave a comment:</h3>
  <%= render "comments/comments_form", comment: @comment %>
  <br>
</div>
<div class="topSecretInformation">

<p class="user_id"><%= current_user.id%></p>
<p class="rest_id"><%= @new_restaurant.id %></p>
<p id="lat"><%= @restaurant_hash["lat"] %>
</p>
<p id="lon"><%= @restaurant_hash["lon"] %>
</p>
<p><% @restaurant_hash["restaurant_id"] %>
  <% end %>
</div>
